h1{
    display: flex;
    justify-content: center;
    align-items: center;
  
    
    
    color: #000;
    font-family: 'Courier New', Courier, monospace;
}
main{
    text-align: center;
    background-color: antiquewhite;
    padding: 25px;
    margin:20px;
    box-shadow: 5px 5px 15px hsl(0,0%,0%,0.3);

  


}
body{
    padding: 0;
    margin: 0;
    
}
input[type = "text"]{
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius:15px ;
    transition: all 0.3s ease;

}
input[type = "Text"]:hover{
    transform: scale(1.1);
    
    
}
button{
    height: 30px;
    width: 80px;
    cursor: pointer;
    transition: all 0.3s ease;

}
/* button:hover{
    transform: scale(1.2);
    background-color: lightgreen;
    border-color: navajowhite;
} */
/* #result{
    /* padding-top: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem; */

 #result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;

    
}


